<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-3">
  <a class="navbar-brand" routerLink="/">Client Management</a>

  <div class="collapse navbar-collapse justify-content-end">
    <ul class="navbar-nav">
      <!-- Show username if logged in -->
      <li class="nav-item" *ngIf="isLoggedIn">
        <span class="nav-link">
          Welcome, <strong>{{ username }}</strong>
        </span>
      </li>

      <!-- Logout -->
      <li class="nav-item" *ngIf="isLoggedIn">
        <a class="nav-link" href="#" (click)="logout()">Logout</a>
      </li>

      <!-- Login/Register links if not logged in -->
      <li class="nav-item" *ngIf="!isLoggedIn">
        <a class="nav-link" routerLink="/login">Login</a>
      </li>
      <li class="nav-item" *ngIf="!isLoggedIn">
        <a class="nav-link" routerLink="/register">Register</a>
      </li>
    </ul>
  </div>
</nav>
