<div class="client-form-container">
    <h2>Add Client</h2>
    <form (ngSubmit)="saveClient()">
      <div class="form-group">
        <label for="title">Title</label>
        <select id="title" class="form-control" [(ngModel)]="client.title" name="title" required>
          <option value="">Select Title</option>
          <option value="Mr">Mr</option>
          <option value="Mrs">Mrs</option>
          <option value="Ms">Ms</option>
        </select>
      </div>
  
      <div class="form-group">
        <label for="firstName">First Name</label>
        <input
          type="text"
          id="firstName"
          class="form-control"
          [(ngModel)]="client.firstName"
          name="firstName"
          required
        />
      </div>
  
      <div class="form-group">
        <label for="lastName">Last Name</label>
        <input
          type="text"
          id="lastName"
          class="form-control"
          [(ngModel)]="client.lastName"
          name="lastName"
          required
        />
      </div>
  
      <div class="form-group">
        <label for="gender">Gender</label>
        <select id="gender" class="form-control" [(ngModel)]="client.gender" name="gender" required>
          <option value="">Select Gender</option>
          <option value="Male">Male</option>
          <option value="Female">Female</option>
          <option value="Other">Other</option>
        </select>
      </div>
  
      <div class="form-group">
        <label for="dateOfBirth">Date of Birth</label>
        <input
          type="date"
          id="dateOfBirth"
          class="form-control"
          [(ngModel)]="client.dob"
          name="dateOfBirth"
          required
        />
      </div>
  
      <div class="addresses">
        <h3>Addresses</h3>
        <div *ngFor="let address of client.addresses; let i = index" class="address-group">
          <div class="form-group">
            <label for="addressLine1">Address Line 1</label>
            <input
              type="text"
              id="addressLine1"
              class="form-control"
              [(ngModel)]="address.addressLine1"
              name="addressLine1{{i}}"
              required
            />
          </div>
          <div class="form-group">
            <label for="town">Town</label>
            <input
              type="text"
              id="town"
              class="form-control"
              [(ngModel)]="address.town"
              name="town{{i}}"
              required
            />
          </div>
          <div class="form-group">
            <label for="city">City</label>
            <input
              type="text"
              id="city"
              class="form-control"
              [(ngModel)]="address.city"
              name="city{{i}}"
              required
            />
          </div>
          <div class="form-group">
            <label for="pinCode">Pin Code</label>
            <input
              type="text"
              id="pinCode"
              class="form-control"
              [(ngModel)]="address.pinCode"
              name="pinCode{{i}}"
              required
            />
          </div>
          <button type="button" class="btn btn-danger" (click)="removeAddress(i)">Remove Address</button>
        </div>
        <button type="button" class="btn btn-secondary" (click)="addAddress()">Add Address</button>
      </div>
  
      <button type="submit" class="btn btn-primary">Save Client</button>
      <button type="button" class="btn btn-secondary" (click)="Cancel()">Cancel</button>
    </form>
  </div>